<!doctype html>
<htmL>
<head>
  <title>ng-cribs</title>  
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="styles.css">
</head>
    <body ng-app="ngCribs" ng-controller="cribsController">
<!--
        <button ng-click="showMessage = !showMessage">Toggle message.</button>
        <h2 ng-show="showMessage==true">Show message</h2>
-->
<!--
        <input type="text" placeholder="Leave a message" ng-model="message">
        <h2>{{ message }}</h2>
-->
<!-- Nav bar       -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
               <div class="navbar-header">
                  <a class="navbar-brand" href="#">ng-cribs</a>
               </div>
            
            </div>
        </nav>
<!--
        <div class="well" ng-repeat="crib in cribs">
          <h3>{{ crib.address }}</h3>
            <p><strong>Type:</strong>{{ crib.type }}</p>
            <p><strong>Description:</strong>{{ crib.description }}</p>
            <p><strong>Price:</strong>{{ crib.price | currency }}</p>
        </div>
-->
        
<!--        Retail estates listings -->
        
        <div class="container">
           <div class="col-sm-6" ng-repeat="crib in cribs">
               <div class="thumbnail">
                  <img ng-src="images/{{crib.image}}.jpg" alt="">
                  <div class="caption">
                      <div class="showDetails === true">
                        <h3><i class="glyphicon glyphicon-tag"></i>{{ crib.price | currency }}</h3>
                        <h4><i class="glyphicon glyphicon-home"></i>{{ crib.address }}</h4>
                        <span class="label label-primary lb-sm">{{ crib.type }}</span>  
                      </div>
<!--
                    <h3>{{ crib.address }}</h3>
                    <p><strong>Type:</strong>{{ crib.type }}</p>
                    <p><strong>Description:</strong>{{ crib.description }}</p>
                    <p><strong>Price:</strong>{{ crib.price | currency }}</p>
-->
                  </div>
                   <button class="btn btn-xs btn-success"
                      ng-hide="showDetails === true"
                      ng-click="showDetails = !showDetails">
                      Details
                   </button>
                  <button class="btn btn-xs btn-danger"
                    ng-show="showDetails === true"
                    ng-click="showDetails = !showDetails">
                  Close
                 </button>
                 <div class="details" ng-show="showDetails === true">
                    <h4>
                      <span class="label label-primary">Beds: {{ crib.details.bedrooms }}</span>
                      <span class="label label-primary">Beds: {{ crib.details.bathrooms }}</span>
                      <span class="label label-primary">Beds: {{ crib.details.area }}</span>
                    </h4>
                     <p>{{ crib.description }}</p>
                </div>
               </div>
          </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js"></script> 
    <script src="app.js"></script>
    <script src="scripts/cribsController.js"></script>
    <script src="scripts/cribsFactory.js"></script>
</htmL>